*{
    box-sizing: border-box;
  }
  
body {
    background-color: #0008ff;
  
    main {
     text-align: center;
      
      form {
        background: 	#e8c0ff;
        width: 450px;
        margin: 50px auto;
        padding: 50px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 8px 18px rgba(0,0,0,0.5);
      }
      
    }
  }